body{
    background-color: red;
  }
  nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 100px;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }
  .searchBar{
    width: 15%;
    background:rgb(31, 82, 111);
    button-color:rgb(240, 146, 51);
  }
  .center {
    margin: 0 auto;
    width: 15%;
    float: right;
    padding-bottom: 10px;
  }
  .content{
    padding-top: 100px;
  }
  header{
    background-color:rgb(39, 53, 71);
    font-color: white;
    Button-color: rgb(203, 56, 55);
  }
  .sector1{
    background-size:cover;
  }